<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        ">

	<context:component-scan base-package="com.demo.poi" />
	
	
	
	    <!--   消息转换器，防止json乱码-->
    <mvc:annotation-driven >
	    <mvc:message-converters register-defaults="true">
	      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	      	<constructor-arg name="defaultCharset" value="UTF-8"></constructor-arg>
	      	<property name="writeAcceptCharset" value="false"></property>
	      </bean>
	    </mvc:message-converters>
  </mvc:annotation-driven> 
</beans>